body {
    background-color: rgb(43, 43, 43);
    color: rgb(211, 211, 211);
}

nav {
    border-bottom-width: 2px;
    border-color: rgb(94, 94, 94);
    border-bottom-style: solid;
}

main {
    padding-top: 1rem;
}

#content {
    /*bg-light rounded border border-dark p-3*/
    border-style: solid;
    border-width: 1px;
    border-color: rgb(43, 43, 43);
    padding: 1rem;
}

.choice-label {
    width: 1.5rem;
}

@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}

@media screen and (max-width: 48em) {
    .container {
        padding-right: 0; 
        padding-left: 0; 
    }

    #content {
        padding: .5rem;
    }
}