body {
    background-color: rgb(43, 43, 43);
    color: rgb(211, 211, 211);
    font-family: 'Lato', cursive;
}

nav {
    border-bottom-width: 2px;
    border-color: rgb(94, 94, 94);
    border-bottom-style: solid;
}

.company-header {
    font-family: 'Norican', cursive;
}

main {
    padding-top: 1rem;
}

.content {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(83, 83, 83);
    border-radius: 10px;
    padding: 1rem;
}

.choice-label {
    width: 1.5rem;
}

.vote-option input[type="radio"] {
    display: none;
}

.vote-option label {
    width: 100%;
    margin-bottom: .5rem;
}

.vote-option input[type="radio"] ~ label {
    cursor: pointer;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(90, 90, 90);
    text-indent: 5px;
    padding: 2px;
}

.vote-option input[type="radio"]:checked ~ label {
    border-color: rgb(0, 148, 7);
}

.vote-option input[type="radio"]:hover:not(:checked) ~ label {
    border-color: rgb(170, 170, 170);
}

.vote-option input[type="radio"]:hover:checked ~ label {
    border-color: rgb(0, 255, 0);
}

@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}

@media screen and (max-width: 48em) {
    .container {
        padding-right: 0; 
        padding-left: 0; 
    }

    #content {
        padding: .5rem;
    }
}