# python related
venv
**/__pycache__
.vscode
.cache
.vagrant

# temporarily ignore our local database directory
database

# ignore all log files
*.log

# ignore my personal notes file
private_notes.md