<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mini Votes | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static "main.css" %}" />
    </head>
    <body>

        <div class="container">

            <nav class="navbar navbar-expand-sm navbar-dark">
                <a class="navbar-brand" href="/">Mini Votes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> 
                    <span class="navbar-toggler-icon"></span> 
                </button> 
                <div class="justify-content-end collapse navbar-collapse" id="navbarCollapse">
                    {% if user.email %}
                    <form class="form-inline mt-2 mt-md-0" method="POST" action="{% url 'logout' %}">
                        <label class="text-light pr-3">Welcome {{ user.email_root }}</label>
                        <button class="btn btn-outline-danger my-2 my-sm-0" name="logout-button" type="submit">Logout</button>
                        {% csrf_token %}
                    </form>
                    {% else %}
                    <form class="form-inline mt-2 mt-md-0" method="POST" action="{% url 'send_login_email' %}">
                        <input class="form-control mr-sm-2" name="email" type="text" placeholder="Email" aria-label="Email">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                        {% csrf_token %}
                    </form>
                    {% endif %}
                </div>
            </nav>
            
            <main role="main">
                
                {% if messages %}
                <section>
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success text-center" role="alert">
                {% else %}
                <div class="alert alert-danger text-center" role="alert">
                {% endif %}
                    {{ message }}
                </div>
                {% endfor %}
                </section>
                {% endif %}

                <section id="content">
                    {% block content %}
                    {% endblock %}
                </section>
            </main>
            
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    </body>
</html>