{% load static %}
<nav class="navbar navbar-dark">
    <a class="navbar-brand company-header" href="/">
        <img src="{% static "img/brand.svg" %}" width="30" height="30" class="d-inline-block align-top mr-2">
        Mini Votes
    </a>
    <div>
        <a href="https://github.com/miniscruff/votingapp" target="_blank"><i class="fab fa-github fa-2x mr-2"></i></a>
        <a href="https://github.com/miniscruff/votingapp/issues/new" target="_blank"><i class="fas fa-bug fa-2x"></i></a>
    </div>
</nav>