{% extends "base.html" %}
{% block content %}
<div class="container">
    <a href="/new" class="btn btn-success" name="new-poll-button">New Poll</a>
    <div class="row">
        <div class="col-lg-4">
            <h4>Simple</h4>
            <p>Simple and easy to use public polls.</p>
        </div>
        <div class="col-lg-4">
            <h4>Authentication</h4>
            <p>Passwordless authentication model so you don't have to remember another password.</p>
        </div>
        <div class="col-lg-4">
            <h4>Responsive design</h4>
            <p>Create, edit and vote on polls from your PC, phone or tablet.</p>
        </div>
        <div class="col-lg-4">
            <h4>Open source</h4>
            <p>MIT licensed open source project on github, <a href="https://github.com/miniscruff/votingapp">view here</a></p>
        </div>
    </div>
</div>
{% endblock %}