{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="content">
    <form method="POST" action="{% url 'home' %}" novalidate {% if form.is_bound %}class="was-validated"{% endif %}>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}

        {% for field in form.visible_fields %}
        <div class="input-group pb-2">
            {% if field.label %}<label class="col-form-label choice-label">{{ field.label }}</label>{% endif %}
            {{ field }}
            {% if field.errors %}
            {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-success btn-lg" name="create-poll" type="submit">Create Poll</button>
    </form>
</section>
<section class="content">
    <h2 class="text-center">Popular Polls</h2>
    {% for poll in popular %}
        <a href="{% url 'poll' poll.uid %}" class="list-group-item list-group-item-action text-light">
            <div class="d-flex w-100 justify-content-between">
                <h4><span class="badge badge-info mr-2">{{ poll.total_votes }}</span>{{ poll.text }}</h4>
                <small class="m-1 text-secondary">{{ poll.pub_date|timesince }}</small>
            </div>
        </a>
    {% endfor %}
</section>
{% endblock %}