{% extends "base.html" %}
{% block jumbotron %}
<h1 class="jumbotron-heading">New Poll</h1>
{% endblock %}
{% block content %}
<form class="form-inline mt-2 mt-md-0" method="POST" action="#">
    <input class="form-control mr-sm-2" name="question" type="text" placeholder="Question" aria-label="Question">
    <input class="form-control mr-sm-2" name="choice-1" type="text" placeholder="Choice 1" aria-label="Choice 1">
    <input class="form-control mr-sm-2" name="choice-2" type="text" placeholder="Choice 2" aria-label="Choice 2">
    <button class="btn btn-success" name="create-poll" type="submit">Create Poll</button>
    {% csrf_token %}
</form>
{% endblock %}