{% extends "base.html" %}
{% block content %}
<form method="POST" action="{% url 'poll' %}">
    <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="Type your question here..." name="text">
    </div>
    <div class="input-group pb-2">
        <label class="col-form-label choice-label">A</label>
        <input type="text" class="form-control" placeholder="Choice" name="choices">
    </div>
    <div class="input-group pb-2">
        <label class="col-form-label choice-label">B</label>
        <input type="text" class="form-control" placeholder="Choice" name="choices">
    </div>
    <div class="input-group pb-2">
        <label class="col-form-label choice-label">C</label>
        <input type="text" class="form-control" placeholder="Choice" name="choices">
    </div>
    <div class="input-group pb-2">
        <label class="col-form-label choice-label">D</label>
        <input type="text" class="form-control" placeholder="Choice" name="choices">
    </div>
    <div class="input-group pb-2">
        <label class="col-form-label choice-label">E</label>
        <input type="text" class="form-control" placeholder="Choice" name="choices">
    </div>
    <button class="btn btn-success btn-lg" name="create-poll" type="submit">Create Poll</button>
    {% csrf_token %}
</form>
{% endblock %}