{% extends "base.html" %}
{% block jumbotron %}
<h1 class="jumbotron-heading">New Poll</h1>
{% endblock %}
{% block content %}
<form method="POST" action="{% url 'poll' %}">
    <div class="form-group">
        <h3>Poll Question</h3>
        <input type="text" class="form-control form-control-lg" placeholder="Question" name="text">
    </div>
    <h4>Choices</h4>
    <div class="form-group">
        <input class="form-control" name="choices" type="text" placeholder="Choice">
    </div>
    <div class="form-group">
        <input class="form-control" name="choices" type="text" placeholder="Choice">
    </div>
    <div class="form-group">
        <input class="form-control" name="choices" type="text" placeholder="Choice">
    </div>
    <div class="form-group">
        <input class="form-control" name="choices" type="text" placeholder="Choice">
    </div>
    <div class="form-group">
        <input class="form-control" name="choices" type="text" placeholder="Choice">
    </div>
    <div class="form-group">
        <input class="form-control" name="choices" type="text" placeholder="Choice">
    </div>
    <button class="btn btn-success btn-lg" name="create-poll" type="submit">Create Poll</button>
    {% csrf_token %}
</form>
{% endblock %}