{% extends "base.html" %}
{% block title %}Voting{% endblock %}
{% block og-title %}{{ poll.text }}{% endblock %}
{% block og-description %}Vote now{% endblock %}
{% block content %}
<section class="content">
    <h1 name="poll-text" class="text-center">{{ poll.text }}</h1>
    <form method="POST" action="{% url 'poll' poll.uid %}">
        {% for choice in poll.choices.all %}
        <div class="vote-option">
            <input id="{{ choice.text }}-id" type="radio" name="choice_id" value="{{ choice.id }}" {% if forloop.first %}checked{% endif %}>
            <label for="{{ choice.text }}-id" name="choice_label">{{ choice.text }}</label>
        </div>
        {% endfor %}
        <div>
            <button class="btn btn-success btn-lg" name="vote" type="submit">Vote</button>
            <a href="{% url 'results' poll.uid %}"><button class="btn btn-secondary btn-lg" type="button">Results</button></a>
        </div>
        {% csrf_token %}
    </form>
</section>
{% include "share_poll.html" %}
{% endblock %}