{% extends "base.html" %}
{% block jumbotron %}
<h1 name="poll-text" class="jumbotron-heading">{{ poll.text }}</h1>
{% endblock %}
{% block content %}
<form method="POST" action="#">
    <div class="btn-group btn-group-lg btn-group-vertical" data-toggle="buttons">
        {% for choice in poll.choice_set.all %}
        <label class="btn btn-primary btn-block">
            <input type="radio" name="{{ choice.text|slugify }}" autocomplete="off">
            {{ choice.text }}
        </label>
        {% endfor %}
        <button class="btn btn-success" name="vote" type="submit">Vote</button>
    </div>
    {% csrf_token %}
</form>
{% endblock %}