# Email settings
EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'USER_NAME@gmail.com'
EMAIL_HOST_PASSWORD = 'USER_PASSWORD or ONE_TIME_APP_PASSWORD'
EMAIL_PORT = 587

# General app settings
APP_SECRET_KEY = '50 random characters'
APP_DEBUG = True
APP_ALLOWED_HOSTS = []
